In [1]:
import pandas as pd

__Считаем файл__

In [2]:
data = pd.read_csv('Mountains.csv')

In [3]:
data.head()

,Rank,Mountain,Height (m),Height (ft),Prominence (m),Range,Coordinates,Parent mountain,First ascent,Ascents bef. 2004,Failed attempts bef. 2004
0,1,Mount Everest / Sagarmatha / Chomolungma,8848,29029,8848,Mahalangur Himalaya,27°59′17″N 86°55′31″E﻿,NaN,1953,>>145,121.0
1,2,K2 / Qogir / Godwin Austen,8611,28251,4017,Baltoro Karakoram,35°52′53″N 76°30′48″E﻿,Mount Everest,1954,45,44.0
2,3,Kangchenjunga,8586,28169,3922,Kangchenjunga Himalaya,27°42′12″N 88°08′51″E﻿,Mount Everest,1955,38,24.0
3,4,Lhotse,8516,27940,610,Mahalangur Himalaya,27°57′42″N 86°55′59″E﻿,Mount Everest,1956,26,26.0
4,5,Makalu,8485,27838,2386,Mahalangur Himalaya,27°53′23″N 87°05′20″E﻿,Mount Everest,1955,45,52.0

__Для работы нам потребуется две колонки: Mountain и Parent mountain.__

In [4]:
data = data[['Mountain', 'Parent mountain']]

In [5]:
data.head()

                                   Mountain Parent mountain
0  Mount Everest / Sagarmatha / Chomolungma             NaN
1                K2 / Qogir / Godwin Austen   Mount Everest
2                             Kangchenjunga   Mount Everest
3                                    Lhotse   Mount Everest
4                                    Makalu   Mount Everest

__Группируем по Parent mountain.__

In [6]:
data = data.groupby(by='Parent mountain').count()

In [7]:
data.head()

                 Mountain
Parent mountain
Annapurna               1
Annapurna I             2
Annapurna III           1
Batura Sar              3
Cho Oyu                 7

__Оставляем значения больше 3.__

In [8]:
data = data[data['Mountain']>3]

__Сортируем получившуюся таблицу.__

In [9]:
data = data.sort('Mountain', ascending=False)

/opt/conda/lib/python3.6/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

__Ответ.__

In [10]:
data

                 Mountain
Parent mountain
Mount Everest           9
Gasherbrum I            8
Cho Oyu                 7
Kangchenjunga           7
Distaghil Sar           5
K2                      5
Dhaulagiri              4
Shisha Pangma           4